form {
    text-align: center;
}

form .buton {
    height: 3em;
    width: 80%;
    margin: 20px 0;
    padding-left: 2% ;
    border: none;
    border-radius: 6px;
}

main input.button {
    background-color: #1259c3;
    color: #FFF;
    height: 3em;
    width: 80%;
    margin: 20px 0;
    padding-left: 2% ;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3 ease;
    cursor: pointer;
}

.button:hover {
    background-color: #0022AA;
}
